@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Change the values in here to match your branding */
:root {
  /* Background color of the page */
  --background-color: #3cc3e0;

  /* Color of the text/words */
  --text-color: #000;

  /* Main color of your brand */
  --color-primary: #3cc3e0;

  /* Secondary color of your brand */
  --color-secondary: #3cc3e0;

  /* Which font you want to use */
  --font: 'VT323', monospace;

  /* Color of the border around items */
}

/* --- Don't need to modify below here --- */

/* Default design values of the entire document */
body,
html {
  background: var(--background-color);
  font-family: var(--font) !important;
  color: var(--text-color);

  display: flex;
  margin: 0;
  text-align: center;
}
p {
  font-family: var(--font) !important;
  color: var(--text-color);
}
nav {
  box-shadow: none !important;
}
.nextui-navbar-container {
  box-shadow: none !important;
  background: var(--background-color) !important;
  font-family: var(--font) !important;
  color: var(--text-color);
  display: flex;
  margin: 0;
  text-align: center;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.text_align_left {
  text-align: left;
}